{% extends 'base.html' %}

{% block content %}
<a href="{{ url_for('admin.add_item') }}"><button>Add Menu Item</button></a>
<div id="menu"></div>
{% endblock %}

{% block scripts %}
<script>
  new gridjs.Grid({
    columns: [
    {id: 'id', name: 'ID', 
    formatter: (cell) => gridjs.html(`<a href="menu/update/${cell}">${cell}</a>`)},
    {id: 'name', name: 'Name'},
    {id: 'category', name: 'Category'},
    {id: 'price', name: 'Price'},
    {id: 'description', name: 'Description'},
    {id: 'is_special', name: 'Special'},
    {id: 'is_active', name: 'Active'},
    ],
    style: {table: {whiteSpace: 'nowrap'}},
    data: [
      {% for item in menu %}
      {
        id: '{{ item.id }}',
        name: '{{ item.name }}',
        category: '{{ item.category }}',
        price: '{{ item.price }}',
        description: '{{ item.description }}',
        is_special: {{ item.is_special }} ? 'True' : 'False',
        is_active: {{ item.is_active }} ? 'True' : 'False',
      },
      {% endfor %}
    ],
    search: true,
    sort: true,
    pagination: {limit: 25},
    autoWidth: true,
  }).render(document.getElementById('menu'));
</script>
{% endblock %}
